{% extends 'admin/change_list.html' %}
{% load i18n admin_urls admin_list %}

{% block object-tools %}
<ul class="object-tools">
  <li>
    <a href="{% url 'home' %}" class="btn btn-secondary">
      {% trans 'Volver al inicio' %}
    </a>
  </li>
  <li>
    <a href="{% url 'rh:registrar_empleado' %}" class="btn btn-primary" style="margin-left: 8px;">
      {% trans 'Registrar empleado' %}
    </a>
  </li>
</ul>
{% endblock %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'home' %}" class="btn btn-secondary">
      {% trans 'Volver al inicio' %}
    </a>
  </li>
  <li>
    <a href="{% url 'rh:registrar_empleado' %}" class="btn btn-primary" style="margin-left: 8px;">
      {% trans 'Registrar empleado' %}
    </a>
  </li>
{% endblock %}
