# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment variables
.env
.venv

# Virtual environment
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Static files
staticfiles/
.gitignore

Dockerfile
docker-compose.yml
