# Dependencias del proyecto SOMA
Django==4.2.7
psycopg2-binary==2.9.9
python-decouple==3.8
Pillow==10.0.1
django-crispy-forms==2.0
crispy-bootstrap5==0.7
django-widget-tweaks==1.5.0
django-extensions==3.2.3
django-filter==23.3
django-import-export==3.3.0
django-htmx==1.26.0
whitenoise==6.11.0
weasyprint==59.0
reportlab==4.4.4
pytz
gunicorn==21.2.0
pypdf
PyPDF2
pdfkit
