{% extends "admin/base_site.html" %}
{% load i18n %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password change successful' %}
</div>
{% endblock %}

{% block content %}
<div class="change-form-header">
    <h1>{% trans 'Password change successful' %}</h1>
</div>

<div class="change-form-content">
    <div class="form-container">
        <div class="alert alert-success">
            <h4>{% trans 'Your password was changed.' %}</h4>
        </div>

        <div class="submit-row">
            <a href="{% url 'home' %}" class="btn btn-primary">{% trans 'Return to admin index' %}</a>
        </div>
    </div>
</div>
{% endblock %}